html {
	box-sizing: border-box;
    background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	padding: 0 20px 20px 20px;

    @include tablet {
        padding: 0;
    }
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0 0; /* Extra wide images within figure tags don't overflow the content area. */
}

body.mce-content-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-width: 1024px;
    margin: auto;
}

body.mce-content-body {
    .two-columns {
        border: 1px dotted gray;
        min-height: 20px;
    }
}

p + .row, .flexslider + .row {
    margin-top: 20px;
}

.row {
    margin-bottom: 20px;

    &::after {
        clear: both;
        content: '';
        display: table;
    }

    .two-columns {

        &:first-child {
            margin-bottom: 20px;
        }

        @include tablet {
            width: 50%;
            display: block;
            float: left;

            &:first-child {
                margin-bottom: 0;
                padding-right: 10px;
            }

            &:last-child {
                padding-left: 10px;
            }
        }
    }
}

@import "tables";
